<table>
  <tr [ngStyle]="{color: calculateConsoColor()}">
    <td>Consommation pour 100km</td>
    <td>
      <input
        type="number"
        [(ngModel)]="voyage.consommationPour100Km">
    </td>
  </tr>
  <tr [ngClass]="{
    'basse-distance': voyage.distanceKm < 100,
    'haute-distance' : voyage.distanceKm > 500
  }">
    <td>Distance parcourue</td>
    <td>
      <input [(ngModel)]="voyage.distanceKm">km
      <p>{{voyage.distanceKm}}km
        <button (click)="add100()">+100</button>
      </p>
    </td>
  </tr>
  <tr>
    <td>Consommation totale</td>
    <td>{{voyage.consommationPour100Km * voyage.distanceKm / 100}}</td>
  </tr>
</table>
  <p *ngIf="voyage.consommationPour100Km > 7">
    Attention, votre consommation est élevée.
  </p>
  <p *ngIf="voyage.consommationPour100Km < 4">
    Félicitations, votre consommation est faible.
  </p>

<h2>Liste des voyages</h2>
<table>
  <thead>
  <tr>
    <th>Distance</th>
    <th>Transport</th>
    <th>Consommation pour 100 kms</th>
    <th>Emission de CO2</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let voyage of voyages">
    <td>{{ voyage.distanceKm }} km</td>
    <td>{{ voyage.typeDeTransport}}</td>
    <td><span *ngIf="voyage.consommationPour100Km">{{ voyage.consommationPour100Km }} L</span></td>
    <td>{{ voyage.CO2 }} </td>
  </tr>
  </tbody>
</table>
<button (click)="ajouterVoyage()">Ajouter un voyage</button>

<app-carbon-footprint-form/>
<app-carbon-footprint-result/>
