
<div class = "container">
  <div class="image-holder">
    <img ngSrc="/assets/etienne.png" height="252" width="252" alt="Ma bouille !"/>
  </div>

  <p>Welcome !</p>

  <form (ngSubmit)="login()">
    <div>
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" name="username" [(ngModel)]="username"/>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" [(ngModel)]="password"/>
    </div>
    <p *ngFor="let msg of messages">
      {{msg}}
    </p>

    <input type="submit" value="Se connecter" />
    <button (click)="inscrire()">S'inscrire</button>
  </form>

</div>
